<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>217_10_RR_S</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Location</display-name>
    <servlet-name>Location</servlet-name>
    <servlet-class>com.dj.a_response.a_location.Location</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Location</servlet-name>
    <url-pattern>/Location</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loc1Servlet</display-name>
    <servlet-name>Loc1Servlet</servlet-name>
    <servlet-class>com.dj.a_response.a_location.Loc1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loc1Servlet</servlet-name>
    <url-pattern>/Loc1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Locservlet</display-name>
    <servlet-name>Locservlet</servlet-name>
    <servlet-class>com.dj.a_response.a_location.Locservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Locservlet</servlet-name>
    <url-pattern>/Loc1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loc2Servlet</display-name>
    <servlet-name>Loc2Servlet</servlet-name>
    <servlet-class>com.dj.a_response.a_location.Loc2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loc2Servlet</servlet-name>
    <url-pattern>/Loc2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintServlet</display-name>
    <servlet-name>PrintServlet</servlet-name>
    <servlet-class>com.dj.a_response.b_boby.PrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintServlet</servlet-name>
    <url-pattern>/print</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo1</display-name>
    <servlet-name>Demo1</servlet-name>
    <servlet-class>com.dj.demo.Demo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo1</servlet-name>
    <url-pattern>/demo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.dj.a_response.c_download.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeServlet</display-name>
    <servlet-name>CodeServlet</servlet-name>
    <servlet-class>com.dj.a_response.a_location.CodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeServlet</servlet-name>
    <url-pattern>/code</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RowServlet</display-name>
    <servlet-name>RowServlet</servlet-name>
    <servlet-class>com.dj.b_request_row.RowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RowServlet</servlet-name>
    <url-pattern>/row</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderServlet</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.dj.b_requset.e_header.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParamServlet</display-name>
    <servlet-name>ParamServlet</servlet-name>
    <servlet-class>com.dj.b_requset.f.param.ParamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParamServlet</servlet-name>
    <url-pattern>/param</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>param_Servlet</display-name>
    <servlet-name>param_Servlet</servlet-name>
    <servlet-class>com.dj.b_requset.f.param.param_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>param_Servlet</servlet-name>
    <url-pattern>/param_</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dis1</display-name>
    <servlet-name>dis1</servlet-name>
    <servlet-class>com.dj.b_request.g_dis.Dis1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dis1</servlet-name>
    <url-pattern>/dis1</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>dis2</display-name>
    <servlet-name>dis2</servlet-name>
    <servlet-class>com.dj.b_request.g_dis.Dis2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dis2</servlet-name>
    <url-pattern>/dis2</url-pattern>
  </servlet-mapping>
</web-app>