<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day14</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FindAllServlet</display-name>
    <servlet-name>FindAllServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.FindAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllServlet</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductByIdServlet</display-name>
    <servlet-name>GetProductByIdServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.GetProductByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductByIdServlet</servlet-name>
    <url-pattern>/getProductById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EidtProductServlet</display-name>
    <servlet-name>EidtProductServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.EidtProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EidtProductServlet</servlet-name>
    <url-pattern>/eidtProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductByIdServlet</display-name>
    <servlet-name>DeleteProductByIdServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.DeleteProductByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductByIdServlet</servlet-name>
    <url-pattern>/deleteProductById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCheckedProductServlet</display-name>
    <servlet-name>DelCheckedProductServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.DelCheckedProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCheckedProductServlet</servlet-name>
    <url-pattern>/delCheckedProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductByConditionServlet</display-name>
    <servlet-name>FindProductByConditionServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.FindProductByConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByConditionServlet</servlet-name>
    <url-pattern>/findProductByCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductsByPageServlet</display-name>
    <servlet-name>ShowProductsByPageServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.ShowProductsByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductsByPageServlet</servlet-name>
    <url-pattern>/showProductsByPage</url-pattern>
  </servlet-mapping>
</web-app>