<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>day1101_S</display-name>
	<servlet>
		<description>
		</description>
		<display-name>GetProductByIdServlet</display-name>
		<servlet-name>GetProductByIdServlet</servlet-name>
		<servlet-class>com.dj.web.servlet.GetProductByIdServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ClearHistoryServlet</display-name>
		<servlet-name>ClearHistoryServlet</servlet-name>
		<servlet-class>com.dj.web.servlet.ClearHistoryServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Add2CartServlet</display-name>
		<servlet-name>Add2CartServlet</servlet-name>
		<servlet-class>com.dj.web.servlet.Add2CartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ClearCharServlet</display-name>
		<servlet-name>ClearCharServlet</servlet-name>
		<servlet-class>com.dj.web.servlet.ClearCharServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetProductByIdServlet</servlet-name>
		<url-pattern>/getProductById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClearHistoryServlet</servlet-name>
		<url-pattern>/clearHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Add2CartServlet</servlet-name>
		<url-pattern>/add2Cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClearCharServlet</servlet-name>
		<url-pattern>/clearChar</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
