<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>217_09_servlet_S</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>LifeSelvect</servlet-name>
  <servlet-class>com.dj.life.LifeSelvect</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LifeSelvect</servlet-name>
  <url-pattern>/life</url-pattern>
  </servlet-mapping>
  <!-- a.注册servlet  -->
		<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.dj.a_hello.HelloServlet</servlet-class>
		</servlet>
	<!-- 绑定路径 -->
	<servlet-mapping>
	<servlet-name>HelloServlet</servlet-name>
	<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>RequestServlet</servlet-name>
	<servlet-class>com.dj.b_request.RequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>RequestServlet</servlet-name>
	<url-pattern>/request</url-pattern>
	</servlet-mapping>
</web-app>